@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-container {
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.overview-border {
    border-bottom-width: 1px;
    border-color: gray;
}